---
- name: create key for identify server
  include_tasks: create_key_without_passphrase.yml
  vars:
    path_key: '{{ path_file_secret_key_server }}'

- name: set group as "ssl-cert" for enable SSL on Database application
  file:
    path: '{{ path_file_secret_key_server }}'
    state: touch
    owner: root
    group: '{{ 999 if ssl_certificate_use_mysql else 103 if ssl_certificate_use_postgre_sql else omit}}'
    mode: 0640
  when: ssl_certificate_use_mysql or ssl_certificate_use_postgre_sql

- name: Create certificate signing request
  command:
    cmd: >
      openssl req
      -new
      -sha256
      -key {{ path_file_secret_key_server }}
      -out {{ path_file_certificate_server_request }}
      -subj '/C={{ csr_country_name }}/ST={{ csr_state_or_province_name }}/L={{ csr_locality_name }}/O={{ csr_organization_name }}/CN={{ common_name }}'
      -addext 'subjectAltName={{ san_extension }}'
  args:
    creates: '{{ path_file_certificate_server_request }}'
